In [11]:
import lasio
import pandas as pd

In [12]:
# Reading log data using lasio
well1 = lasio.read('tutorial/WellX-1.las')

In [14]:
# Creating Pandas DataFrame out of data
df = well1.df()
df

,GR,DENS,SONI,CNL,MSFL,LL9S,LL9D,CALI,DI,RT,RX0,TVD,KAH,KAV,HEPOR,GD
DEPTH,,,,,,,,,,,,,,,,
10000.0,134.994,2.441,93.997,24.040,3.683,2.211,1.988,9.017,19.17753,1.81299,3.05544,9922.0,NaN,NaN,NaN,NaN
10000.5,131.686,2.435,93.407,24.115,3.714,2.252,2.138,9.030,12.00000,2.08313,3.08218,9922.5,NaN,NaN,NaN,NaN
10001.0,130.035,2.454,94.064,23.430,3.776,2.372,2.217,9.014,15.54447,2.11912,3.13567,9923.0,NaN,NaN,NaN,NaN
10001.5,131.690,2.475,94.983,23.028,3.987,2.504,2.299,8.999,17.46786,2.14726,3.31795,9923.5,NaN,NaN,NaN,NaN
10002.0,131.692,2.479,95.378,22.792,4.278,2.567,2.177,9.008,28.53612,1.81183,3.56994,9924.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000,NaN,NaN,12870.0,NaN,NaN,NaN,NaN
12948.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000,NaN,NaN,12870.5,NaN,NaN,NaN,NaN
12949.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000,NaN,NaN,12871.0,NaN,NaN,NaN,NaN
12949.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000,NaN,NaN,12871.5,NaN,NaN,NaN,NaN
12950.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000,NaN,NaN,12872.0,NaN,NaN,NaN,NaN

In [15]:
#Porosity using Density log values
def rhob2por(values, rho_ma, rhof):
    return (rho_ma - values)/(rho_ma - rhof)

# Extracting Density data from DataFrame to NumPy array
DENS = np.array(well_1.loc[(well_1['DEPTH']> 10333) & (well_1['DEPTH']< 10906)]['DENS'])

# Values are converted to porosity data
rhob_porosity = rhob2por(DENS, 2.65, 0.84)