In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
index  = ['tophole', 'bottomhole']

In [4]:
X4 = {
    'MD' : [0, 12998],
    'TVD': [-78, 11622.3],
    'E'  : [690.5, 372],
    'N'  : [142.7, 987.5]
}

X3 = {
    'MD' : [0, 12134],
    'TVD': [-78, 10969.3],
    'E'  : [691.5, 656.3],
    'N'  : [140.3, 267.7]
}

X5 = {
    'MD' : [0, 11799],
    'TVD': [-78, 11116],
    'E'  : [692.9, 397.6],
    'N'  : [143.7, 797.8]
}

X6 = {
    'MD' : [0, 11552],
    'TVD': [-130, 10975],
    'E'  : [688.1, 562.4],
    'N'  : [141.8, 707.4]
}

In [5]:
X3_directional = pd.DataFrame(X3, index = index)
X4_directional = pd.DataFrame(X4, index = index)
X5_directional = pd.DataFrame(X5, index = index)
X6_directional = pd.DataFrame(X6, index = index)

In [10]:
X3_directional

               MD      TVD      E      N
tophole         0    -78.0  691.5  140.3
bottomhole  12134  10969.3  656.3  267.7

In [6]:
X3_por = np.random.rand(50, 1).flatten()
X4_por = np.random.rand(50, 1).flatten()
X5_por = np.random.rand(50, 1).flatten()
X6_por = np.random.rand(50, 1).flatten()

In [7]:
X3_data = {
    'DEPTH': np.arange(10000, 10050),
    'Por'  : X3_por
}

X4_data = {
    'DEPTH': np.arange(10110, 10160),
    'Por'  : X4_por
}

X5_data = {
    'DEPTH': np.arange(10060, 10110),
    'Por'  : X5_por
}

X6_data = {
    'DEPTH': np.arange(10020, 10070),
    'Por'  : X6_por
}

In [8]:
X3_df = pd.DataFrame(X3_data)
X4_df = pd.DataFrame(X4_data)
X5_df = pd.DataFrame(X5_data)
X6_df = pd.DataFrame(X6_data)